<h1>My Portfolio</h1>

<div class="search-area">
  <h3>Search stocks</h3>

  <form data-turbo="true" id="form-id" data-type="js" role="form" action="/search" accept-charset="UTF-8" data-remote="true" method="get">
    <div class="form-group row">
      <div class="col-sm-9">
        <input placeholder="Stock ticker" autofocus="autofocus" class="form-control form-control-large" type="text" name="stock[ticker]" id="stock_ticker">
      </div>
      <div class="col-sm-3 no-padding-h">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<div id="search-stock-result"></div>

<script>
    window.addEventListener("load", () => {

        $('#form-id').submit(function() {
            const valuesToSubmit = $(this).serialize();
            console.log('valuesToSubmit',valuesToSubmit);
            $.ajax({
                type: "GET",
                url: $(this).attr('action'),
                data: valuesToSubmit + '&stock%5Bjs%5D=true',
                headers: { 'Accept': 'application/javascript' }
            });
            return false;
        });
    });
</script>