@import "bootstrap";
@import "font-awesome";

.search-area {
  padding-top: 3rem;
}

.no-padding-h {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-result {
  margin: .5rem 0;
}

.container-header {
  display: flex;
  flex-direction: row;
}

.nav-user-name {
  align-items: center;
}