@import "bootstrap";
@import "font-awesome";

.search-area {
  padding-top: 3rem;
}

.no-padding-h {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-result {
  margin-top: 0.5rem;
}